{% extends 'home/index.html' %}
{% block 'body' %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href={% static 'home/homepage.css'%}>
	<div id="img-block">
		<h2 id="img-caption">Hi, name is Mohammed Azad<br>Welcome to my little corner of the Internet</h2>
		<div>
			<a href="/" class="btn btn-land">Tell Me More</a>
		</div>
	</div>
	<div id="about">
		<h2 id="about-title">ABOUT</h2>
		<h3 id="about-text">Heres a little tour through my adademic and professional career</h3>
	</div>
	<section class="timeline">
		<ul>
			<li>
				<div>
					<time>JUNE 2014</time>
					<h2>Graduated HS</h2>
					<p>I graduated John Marshall High School. I started coding in my senior year, where I began to develop a game. The more I dove into the field, the more passionate I became.</p>
				</div>	
			</li>	
			<li>
				<div>
					<time>AUGUST 2014</time>
					<h2>Startted SMC</h2>
					<p>I graduated John Marshall High School. I started coding in my senior year, where I began to develop a game. The more I dove into the field, the more passionate I became.</p>
				</div>	
			</li>
		</ul>
	</section>
{% endblock %}