<html lang="en-US">
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href={% static 'home/style.css'%}>
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="menu-bar">
			<div id="logo">
				<h2><a href="">Mohammed Azad</a></h2>
			</div>
			<div id="menu">
				<ul id="tool-bar">
					<li class="tool-item"><a href="">ABOUT</a></li>
					<li class="tool-item"><a href="">PAST WORK</a></li>
					<li class="tool-item"><a href="">PROJECTS</a></li>
					<li class="tool-item"><a href="">CONTACT</a></li>
				</ul>
			</div>
		</div>
		<div id='test'>aaa</div>
	</body>
</html>